UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
RAPIDAPI_PROXY_SECRET=
EU_CUSTOMS_ENDPOINT=https://ec.europa.eu/taxation_customs/dds2/eos/eori_validation.jsp
HMRC_EORI_ENDPOINT=https://api.service.hmrc.gov.uk/customs/traders/eori-checker
